body            { font-family: "Segoe UI", Arial, sans-serif; display: inline-block;}
a, h1, h2       { color: #377ba8;}
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; padding: 10px 25px 10px 25px; }
h2              { font-size: 1.2em; padding: 10px 25px 5px 25px; }

.page           { flex-flow: wrap; position: relative;}

table           { display: inline-block;}

button          {   width: 100px;
                    background-color: #008CBA;
                    border: 2px solid #008CBA;
                    color: white;
                    padding: 5px 8px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: bold;
                    margin: 4px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                    border-radius: 4px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%)
                }
button:hover    {
                    background-color: #fff;
                    color: #008CBA;
                    border: 2px solid #008CBA;
                }

table.dataframe, .dataframe th, .dataframe td {
    align-items: center; justify-content: center; 
    border: none;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
    font-size: 0.9em;
}

th {
    background-color: #add8e6;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
tr:hover            { background-color: #ffff99;}