<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
        <meta name="HandheldFriendly" content="true" />
        <title>View Table</title>
        <link rel=stylesheet type=text/css href="/static/view.css">
    </head>
    </body>
        <div class=page>
            <h1>Response Data View</h1>
            {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>
                {{ table|safe }}
            {% endfor %}
        </div>
    </body>
</html>